.tiles {
	margin: 2em auto;
	// overflow: hidden;
	padding: 1.5em 0;

	&__nodata {
		color: #333;
		text-align: center;
		margin: 1em auto;
		font-size: .9em;
		max-width: 500px;
	}
	&__margin {
		width: 100%;
		margin-left: 12px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
	}

	&__ajaxerror {
		background: rgba(255,0,0,.5);
		color: #FFF;
		text-align: center;
		padding: 2em;
		border-radius: 4px;
		max-width: 400px;
		margin: 1em auto;
		line-height: 1.5;
	}
}

.tile {
	width: 310px;
	height: 310px;
	box-shadow: 0 0 1em 0 rgba(0,0,0,.15);
	background: #FFF;
	margin-bottom: 23px;
	margin-right: 23px;
	padding: 10px;
	cursor: pointer;
	position: relative;
	transition: box-shadow .5s;

	&:hover {
		box-shadow: 0 0 4em 0 rgba(0,0,0,.1);
		transition: box-shadow .5s;

		img {
			transform: scale3d(.96, .96, .96) translate(-52%, -52%);
			transform-origin: center center;
			transition: transform .7s;
		}

		.tile__addon {
			height: 100px;
			transition-timing-function: ease-in-out;
			transition: height .3s;
		}
	}

	&__wide {
		width: 310px * 2 + 23;
	}

	&__in {
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	&__img {
		display: block;
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: relative;

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			transform-origin: center center;
			transition: transform .7s;
		}
	}
	&__addon {
		color: #333;
		background: #FFF;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		font-size: .85em;
		text-align: center;
		width: 100%;
		height: 0;
		overflow: hidden;
		z-index: 100;
		transition-timing-function: ease-in-out;
		transition: height .4s;
	}
	&__title {
		// три точки ;)
		white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    margin-top: .7em;
	    margin-bottom: .7em;
	}

	$font-size: 1em;
	$line-height: 1.6;
	$lines-to-show: 2;

	&__description {
		color: #999;
		width: 100%;
		text-align: center;
		display: block;
		padding: 0 1.5em;
		height: $font-size * $line-height * $lines-to-show;
		font-size: $font-size;
		line-height: $line-height;
		-webkit-line-clamp: $lines-to-show;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__link {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}


@media (max-width: 1024px) {
	.tiles {
		width: 800px;

		&__margin {
			margin-left: 10px;
		}
	}
	.tile {
		width: 380px;
		height: 380px;
		margin-right: 20px;
		margin-bottom: 20px;

		img {
			width: 100%;
			height: auto;
		}

		&__addon {
			color: #333;
			background: rgba(255,255,255,.7);
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			font-size: .85em;
			text-align: center;
			width: 100%;
			height: auto;
			overflow: hidden;
			z-index: 100;
			transition-timing-function: ease-in-out;
			transition: height .4s;
		}
		&__description {
			color: #555;
			margin-bottom: 1em;
		}
	}
	.tile__wide {
		width: 760px + 20;
	}
}

@media (max-width: 850px) {
	.tiles {
		width: 600px;

		&__margin {
			margin-left: 10px;
		}
	}
	.tile {
		width: 280px;
		height: 280px;
		margin-right: 20px;
		margin-bottom: 20px;

		img {
			width: 100%;
			height: auto;
		}
		&__addon {
			font-size: .8em;
		}
	}
	.tile__wide {
		width: 560px + 20;
	}
}

@media (max-width: 620px) {
	.tiles {
		width: 460px;

		&__margin {
			margin-left: 5px;
		}
	}
	.tile {
		width: 220px;
		height: 220px;
		margin-right: 10px;
		margin-bottom: 10px;

		img {
			width: 100%;
			height: auto;
		}

		&__addon {
			font-size: .6em;
		}
	}
	.tile__wide {
		width: 440px + 10;
	}
}

@media (max-width: 480px) {
	.tiles {
		width: 300px;
		
		&__margin {
			margin-left: 0;
			width: 100%;
		}
	}
	.tile {
		width: 280px;
		height: 280px;
		margin: 10px auto;

		img {
			height: 100%;
			width: auto;
		}
	}
}